.products-category {
    min-height: calc(100vh - 166px);
 
    .to-back {
        background-color: #41A58D;
        height: 50px;
        margin-top: 166px;

        .inner {
            margin: 0 auto;
            max-width: 1366px;
            align-items: center;
            display: flex;
            height: 100%;
            color: #fff;

            span {
                display: flex;
                align-items: center;
            }

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .title {
        max-width: 1366px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 36px 0;
    }

    .productsInner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1366px;
        margin: 0 auto;
        gap: 16px;
        margin-bottom: 26px;
        
        .product {
            width: 100%;
            overflow: hidden;
            border-radius: 10px;

            .imgContainer {
                width: 100%;
                height: 310px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            .productTitle {
                margin-top: 5px;
                color: #1E1E1E;
                font-weight: 600;
                font-size: 17px;
                margin-top: 10px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                word-wrap: break-word;
            }

            .productDescription {
                margin-top: 5px;
                color: #757575;
                font-size: 15px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                word-wrap: break-word;
            }

            .price {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                .oldPrice {
                    font-size: 14px;
                    color: #757575;
                    text-decoration: line-through;
                }

                .newPrice {
                    color: #41A58D;
                    font-weight: 600;
                }
            }

            .details {
                display: flex;
                gap: 10px;
                align-items: center;
                border-top: 1px solid #EBEBEB;
                margin-top: 15px;
                padding-top: 10px;

                div {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: #757575;
                }
            }

            .author {
                align-items: center;
                gap: 10px;
                display: flex;
                margin-top: 10px;


                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    color: #757575;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .products-category {
        padding: 10px 0 30px;

        .to-back {
            margin-top: 80px;

            .inner {
                padding: 0 20px;
            }
        }

        .title {
            font-size: 18px;
            padding: 20px;
        }

        .littleTitle {
            font-size: 17px;
        }

        .productsInner {
            padding: 20px;
            .category-product-link {
                width: 47%;

                .product {
                    width: 100%;

                    .imgContainer {
                        height: 200px;
                    }

                    .price {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}