#newsInnerDetail {
    background-color: #F5F5F5;
    .to-back {
        background-color: #41A58D;
        height: 50px;
        margin-top: 166px;

        .backInner {
            margin: 0 auto;
            max-width: 1366px;
            align-items: center;
            display: flex;
            height: 100%;
            padding: 0 50px;
            color: #fff;

            span {
                display: flex;
                align-items: center;
            }

            a {
                color: #fff;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
    }
    .new-details {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        padding: 30px 50px;
        max-width: 1366px;
        margin: 0 auto;

        .left-side {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            width: 60%;

            .left-top-side {
                width: 100%;
                padding: 20px 30px;
                background-color: #fff;
                border-radius: 10px;
    
                .hero-new {
                    border-radius: 10px;
    
                    .hero-img {
                        width: 100%;
                        height: 450px;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
    
                    .hero-new-details {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
    
                        ul {
                            display: flex;
                            gap: 20px;
                            li {
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                color: #757575;
                                font-size: 15px;
                                
                                span {
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                        .author {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: #757575;
                            
                            span {
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            
                            img {
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                    }
                }
    
                .about-hero {
                    .hero-title {
                        font-size: 30px !important;
                    }
    
                    .title {
                        color: #1E1E1E;
                        margin-top: 20px;
                        font-size: 22px;
                    }
    
                    .simpleText {
                        margin-top: 20px;
                        color: #757575;
                    }
    
                    .other-text {
                        width: 80%;
                        border-radius: 10px;
                        border-left: 5px solid #41A58D;
                        margin: 30px auto 0;
                        padding: 30px;
                        background-color: #F5F5F5;
                        position: relative;
                        
                        h2 {
                            color: #4B4B4B;
                            font-size: 20px;
                            position: relative;
                            z-index: 2;
                        }
    
                        p {
                            color: #757575;
                            font-size: 15px;
                            margin-top: 15px;
                            position: relative;
                            z-index: 2;
                        }
    
                        img {
                            position: absolute;
                            right: 30px;
                            top: 50px;
                            z-index: 1;
                        }
                    }
                }
    
                .hashtags {
                    margin-top: 30px;
                    ul {
                        display: flex;
                        justify-content: flex-start;
                        gap: 10px;
    
                        li {
                            color: #41A58D;
                            background-color: #F5F5F5;
                            padding: 9px 15px;
                            border-radius: 7px;
                        }
                    }
                }
            }
        }
    }

    .simillar {
        padding: 50px;
        max-width: 1366px;
        margin: 0 auto;
    
        .title {
    
            h2 {
                color: #1E1E1E;
                font-weight: 600;
            }

            p {
                color: #757575;
                margin-top: 5px;
            }
        }
    
        .news-cards {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            flex-wrap: wrap;
            row-gap: 15px;
    
    
            .news-card {
                width: 300px;
                background-color: #fff;
                border-radius: 10px;
                overflow: hidden;
                padding-bottom: 10px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // transform: translateY(30px);
                // opacity: 0;
                transition: all 1s, box-shadow 0.5s;
    
                &:hover {
                    box-shadow: 0 5px 10px #00000027;
                }
    
                .img-cont {
                    width: 100%;
                    height: 200px;
                    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
    
                .time {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 15px;
                    margin-top: 10px;
    
                    span {
                        display: flex;
                        align-items: center;
                        gap: 3px;
                        color: #41A58D;
                    }
                }
    
                .news-title {
                    font-size: 20px;
                    color: #4B4B4B;
                    padding: 5px 15px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;  
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                .news-description {
                    color: #757575;
                    padding: 5px 15px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;  
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    
                .type {
                    padding: 5px 10px;
                    background-color: #F5F5F5;
                    margin: 0 0 5px 15px;
                    border-radius: 5px;
                    color: #757575;
                }
            }
        }
    }

    .forBackgroundColor {
        background-color: #41A58D;
        margin: 15px 0;
    }

    .poster {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        height: 350px;
        overflow: hidden;
        max-width: 1366px;
        margin: 0 auto;

        .left-side {
            margin-left: auto;
            width: 60%;
            .bigText {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                p {
                    font-weight: 600;
                    color: #fff;
                    font-size: 28px;
                    width: 50%;
                }

                .name {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .peopleName {
                        background-color: #77F9DA4D;
                        padding: 13px 15px;
                        color: #fff;
                        border-radius: 15px;
                        border: 1px solid #ffffff36;
                    }
    
                    .work {
                        background-color: #B7B7B726;
                        padding: 10px 15px;
                        border-radius: 20px;
                        border: 1px solid #efefef1c;
                        margin-top: 7px;
                        font-size: 15px;
                        color: #fff;
                    }
                }

            }
            .smallText {
                color: #fff;
                width: 70%;
            }
        }

        .right-side {
            width: 40%;
            position: relative;
            padding-left: 80px;

            img {
                width: 260px;
                position: relative;
                z-index: 1;
                top: 50px;
            }
            
            .shape {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                background-color: #E8B931;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            
                &::before {
                    position: absolute;
                    content: "";
                    width: 150px;
                    height: 150px;
                    backdrop-filter: blur(5px);
                    border-radius: 50%;
                    background-color: #B7B7B726;
                    bottom: 0;
                    border: 1px solid #ffffff2a;
                    left: -30px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: -30px;
                    right: -70px;
                    border: 1px solid #ffffff2a;
                    width: 190px;
                    height: 190px;
                    backdrop-filter: blur(5px);
                    border-radius: 50%;
                    background-color: #77F9DA4D;
                }
            }
        }
    }

    .currency-title {
        font-weight: 600;
        padding: 5px 50px;
        max-width: 1366px;
        margin: 0 auto;
    }
    
    .currency-little-title {
        padding: 0 50px;
        max-width: 1366px;
        margin: 0 auto;
    }

    .g-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        max-width: 1366px;
        margin: 0 auto;
        margin-top: 15px;
    }
}

@media screen and (max-width: 500px) {
    #newsInnerDetail {
        .to-back {
            margin-top: 85px;
            .backInner {
                padding: 0 20px;

                a, span {
                    font-size: 14px;

                    &.three-dot {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;  
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;                       
                    }
                }
            }
        }

        .new-details {
            flex-direction: column;
            padding: 10px;

            .left-side {
                width: 100%;
                
                .left-top-side {
                    padding: 10px;

                    .hero-new {
                        .hero-img {
                            height: 300px;
                        }

                        .hero-new-details {
                            flex-direction: column;
                            row-gap: 9px;
                            ul {
                                flex-wrap: wrap;
                            }
                        }
                    }

                    .about-hero {
                        .hero-title {
                            font-size: 22px !important;
                        }

                        .other-text {
                            margin: 10px 0;
                            width: 100%;
                            padding: 20px;
                        }

                    }
                    .hashtags {
                        ul {
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }

        .simillar {
            padding: 20px;
            
            .news-cards {
                justify-content: center;
            }
        }

        .poster {
            flex-direction: column;
            height: 500px;
            padding: 30px 20px;

            .left-side {
                width: 100%;
                margin: 0;

                .bigText {
                    p {
                        width: 100%;
                        font-size: 22px;
                        text-align: center;
                    }
                    .name {
                        display: none;
                    }
                }

                .smallText {
                    margin-top: 10px;
                    width: 100%;
                    text-align: center;
                }
            }

            .right-side {
                width: 100%;
                padding: 0;
                margin-bottom: -60px;

                img {
                    width: 190px;
                    left: 50%;
                    transform:  translateX( -50% );
                }
            
                .shape {
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 200px;
                    height: 200px;

                    &::after {
                        width: 170px;
                        height: 170px;
                    }
                }
            }
        }

        .currency-title {
            padding-left: 20px;
        }
        
        .currency-little-title {
            padding-left: 20px;
        }

        .g-container {
            flex-direction: column;
        }
    }
}
