#partners {
  .miniPoster {
    height: 250px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to left, #41a584e7, #41a584e7);
      z-index: 1;
    }

    .text {
      position: relative;
      z-index: 2;
      width: 40%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 600;
      color: #fff;
    }

    img {
      position: relative;
      z-index: 2;
      width: 60%;
      height: 380px;
      object-fit: cover;
    }
  }

  .forBackgroundColor {
    background-color: #41a58d;
  }

  .poster {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 350px;
    overflow: hidden;
    max-width: 1366px;
    margin: 0 auto;

    .left-side {
      margin-left: auto;
      width: 60%;

      .bigText {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-weight: 600;
          color: #fff;
          font-size: 28px;
          width: 50%;
        }

        .name {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .peopleName {
            background-color: #77f9da4d;
            padding: 13px 15px;
            color: #fff;
            border-radius: 15px;
            border: 1px solid #ffffff36;
          }

          .work {
            background-color: #b7b7b726;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid #efefef1c;
            margin-top: 7px;
            font-size: 15px;
            color: #fff;
          }
        }
      }

      .smallText {
        color: #fff;
        width: 70%;
      }
    }

    .right-side {
      width: 40%;
      position: relative;
      padding-left: 80px;

      img {
        width: 260px;
        position: relative;
        z-index: 1;
        top: 50px;
      }

      .shape {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: #e8b931;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &::before {
          position: absolute;
          content: "";
          width: 150px;
          height: 150px;
          backdrop-filter: blur(5px);
          border-radius: 50%;
          background-color: #b7b7b726;
          bottom: 0;
          border: 1px solid #ffffff2a;
          left: -30px;
        }

        &::after {
          content: "";
          position: absolute;
          top: -30px;
          right: -70px;
          border: 1px solid #ffffff2a;
          width: 190px;
          height: 190px;
          backdrop-filter: blur(5px);
          border-radius: 50%;
          background-color: #77f9da4d;
        }
      }
    }
  }

  .partners-text {
    margin: 50px auto 0;
    width: 30%;
    text-align: center;
    color: #757575;
  }

  .partners-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1366px;
    margin: 60px auto;
    row-gap: 30px;

    a {
      img {
        width: 150px;
        margin: 0 auto;
        display: block;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  #partners {
    .partners-images {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 700px) {
  #partners {
    .partners-text {
      width: 70%;
    }

    .partners-images {
      grid-template-columns: repeat(2, 1fr);
    }

    .miniPoster {
      margin-top: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text {
        width: 100%;
        padding: 0 50px;
        text-align: center;
        margin-top: 10px;
      }

      img {
        width: 100%;
        height: 170px;
        top: 15px;
      }
    }

    .poster {
      flex-direction: column;
      height: 500px;
      padding: 30px 20px;

      .left-side {
        width: 100%;
        margin: 0;

        .bigText {
          p {
            width: 100%;
            font-size: 22px;
            text-align: center;
          }

          .name {
            display: none;
          }
        }

        .smallText {
          margin-top: 10px;
          width: 100%;
          text-align: center;
        }
      }

      .right-side {
        width: 100%;
        padding: 0;
        margin-bottom: -60px;

        img {
          width: 190px;
          left: 50%;
          transform: translateX(-50%);
        }

        .shape {
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 200px;

          &::after {
            width: 170px;
            height: 170px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #partners {
    margin-top: 120px;
    .partners-text {
      width: 80%;
    }

    .partners-images {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
