.menu-tool {
    display: none;
}

@media screen and (max-width: 500px) {
    .menu-tool {
        height: 70px;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        z-index: 9999;
        width: 100%;

        ul {
            width: 100%;
            display: flex;

            li {
                width: 25%;
                height: 100%;

                a {
                    flex-direction: column;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    color: #303030;
                    font-size: 14px;

                    &.active-link {
                        color: #41A58D;
                    }
                }
            }
        }
    }
}