#footer {
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: linear-gradient(to left, #f0f2f1f1, #f0f2f1f1);
        z-index: 2;
    }

    .details {
        position: relative;
        width: 100%;
        max-width: 1366px;
        padding: 36px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        z-index: 3;

        .detail {
            .logo {
                font-size: 22px;
                font-weight: 600;

                a {
                    color: #000;
                }
            }

            .tel {
                margin: 8px 0;
                font-size: 26px;
                font-weight: 600;
                a {
                    color: #41A58D;
                }
            }

            .mail {
                a {
                    color: #757575;
                }
            }

            .address {
                margin-top: 10px;
                color: #41A58D;
            }

            .time-work {
                color: #757575;
                font-size: 14px;
                margin-top: 5px;
            }

            .aa {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                width: 300px;

                span, a {
                    color: #757575;
                    font-size: 13px;
                }
            }

            ul {
                li:first-child {
                    font-weight: 600;
                    font-size: 17px;
                }

                li {
                    margin-top: 15px;

                    a {
                        color: #757575;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
        
        .links {
            ul {
                display: flex;
                align-items: flex-start;
                gap: 7px;

                li {
                    a {
                        display: flex;
                        padding: 8px;
                        background-color: #fff;
                        border-radius: 7px;
                        color: #000;
                        border: 2px solid transparent;

                        &:hover {
                            background-color: transparent;
                            border: 2px solid #fff;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 500px) {
    #footer {
        padding-bottom: 70px;
        .details {
            .d-ver {
                display: none;
            }

            .links {
                width: 100%;
                
                ul {
                    justify-content: center;
                }
            }
        }
    }
}