#history {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    #bgColor {
        background-image: linear-gradient(to left, #41A58D, #41A58D, transparent);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 1;
    }

    .img {
        position: relative;
        z-index: 2;
        height: 100%;
        display: flex;
        align-items: flex-end;

        img {
            width: 350px;
        }
    }

    .text {
        position: relative;
        z-index: 2;
        width: 520px;
        color: #fff;

        h2 {
            font-size: 28px;
            font-weight: 600;
        }

        p {
            margin-top: 10px;
        }
    }
}


@media screen and (max-width: 500px) {
    #history {
        flex-direction: column-reverse;
        height: unset !important;
        padding: 40px 20px 0;

        .text {
            width: unset;
            text-align: center;
            
            p {
                font-size: 20px;
            }
        }

        #bgColor {
            background-image: linear-gradient(to right top, #41a58ed2, #41a58ed2, #41a58e88);
        }
    }   
}