#contacts {
  .form-container {
    position: relative;
    padding: 50px;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to left, #41a584e7, #41a584e7);
      z-index: 1;
    }

    h1 {
      position: relative;
      z-index: 2;
      text-align: center;
      color: #fff;
      font-weight: 600;
      width: 40%;
      margin: 0 auto;
    }

    .form-inner {
      position: relative;
      z-index: 2;
      max-width: 1366px;
      margin: 0 auto;
      display: flex;
      margin-top: 40px;

      .form-inner-left-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .contact-data {
          display: flex;
          gap: 5px;

          .contact-data-left {
            svg {
              width: 40px;
              height: 40px;
            }
          }

          .contact-data-right {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            p,
            a {
              color: #fff;
            }

            a:hover {
              opacity: 0.6;
            }

            & p:first-child {
              font-size: 14px;
            }
          }
        }
      }

      .form-inner-right-side {
        width: 50%;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;

        form {
          display: flex;
          flex-direction: column;
          row-gap: 5px;

          .input-row {
            position: relative;

            input,
            textarea {
              width: 100%;
              height: 45px;
              outline: none;
              border: none;
              border-bottom: 1px solid #63676c;
              padding: 0 5px;
              font-size: 16px;
              font-weight: 400;
              // color: #63676C;

              &:valid ~ label,
              &:focus ~ label {
                top: -5px;
                transform: unset;
                font-size: 14px;
                left: 0;
              }
            }

            textarea {
              height: 170px;
              padding: 20px 5px;
              resize: none;

              &:valid ~ #other-label,
              &:focus ~ #other-label {
                top: 0;
                left: 0;
              }
            }

            label {
              transform: translateY(-50%);
              top: 50%;
              left: 5px;
              position: absolute;
              color: #63676c;
              cursor: pointer;

              &#other-label {
                top: 20px;
                transform: unset;
              }
            }

            button {
              background-color: #41a58d;
              width: 100%;
              height: 45px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              border: none;
              outline: none;
              border-radius: 7px;
              color: #fff;
              cursor: pointer;
              margin-top: 10px;
              gap: 2px;

              &:hover {
                opacity: 0.8;

                svg {
                  transform: translateX(5px);
                }
              }
            }
          }
        }
      }
    }
  }

  .forBackgroundColor {
    background-color: transparent;
    position: relative;
  }

  .qqwwee {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .poster {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    height: 350px;
    overflow: hidden;
    max-width: 1366px;
    margin: 0 auto;

    .left-side {
      margin-left: auto;
      width: 60%;

      .bigText {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-weight: 600;
          color: #000;
          font-size: 28px;
          width: 50%;
        }

        .name {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .peopleName {
            background-color: #77f9da4d;
            padding: 13px 15px;
            color: #000;
            border-radius: 15px;
            border: 1px solid #ffffff36;
          }

          .work {
            background-color: #b7b7b726;
            padding: 10px 15px;
            border-radius: 20px;
            border: 1px solid #efefef1c;
            margin-top: 7px;
            font-size: 15px;
            color: #000;
          }
        }
      }

      .smallText {
        color: #000;
        width: 70%;
      }
    }

    .right-side {
      width: 40%;
      position: relative;
      padding-left: 80px;

      img {
        width: 260px;
        position: relative;
        z-index: 1;
        top: 50px;
      }

      .shape {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-color: #e8b931;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &::before {
          position: absolute;
          content: "";
          width: 150px;
          height: 150px;
          backdrop-filter: blur(5px);
          border-radius: 50%;
          background-color: #b7b7b726;
          bottom: 0;
          border: 1px solid #ffffff2a;
          left: -30px;
        }

        &::after {
          content: "";
          position: absolute;
          top: -30px;
          right: -70px;
          border: 1px solid #ffffff2a;
          width: 190px;
          height: 190px;
          backdrop-filter: blur(5px);
          border-radius: 50%;
          background-color: #77f9da4d;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #contacts {
    margin-top: 120px;
    .form-container {
      padding: 50px 20px;
      h1 {
        width: 100%;
      }
      .form-inner {
        flex-direction: column-reverse;
        row-gap: 20px;

        .form-inner-left-side {
          width: 100%;
        }

        .form-inner-right-side {
          width: 100%;
        }
      }
    }
    .poster {
      flex-direction: column;
      height: 500px;
      padding: 30px 20px;

      .left-side {
        width: 100%;
        margin: 0;

        .bigText {
          p {
            width: 100%;
            font-size: 22px;
            text-align: center;
          }

          .name {
            display: none;
          }
        }

        .smallText {
          margin-top: 10px;
          width: 100%;
          text-align: center;
        }
      }

      .right-side {
        width: 100%;
        padding: 0;
        margin-bottom: -60px;

        img {
          width: 190px;
          left: 50%;
          transform: translateX(-50%);
        }

        .shape {
          left: 50%;
          transform: translate(-50%, -50%);
          width: 200px;
          height: 200px;

          &::after {
            width: 170px;
            height: 170px;
          }
        }
      }
    }
  }
}
